<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/resources/built/bundle.css"/>

    <title>hotelcovid19</title>
</head>

<body>
<h1>Welcome to your hotelcovid19</h1>
    <p th:text="'Hello, ' + ${username} + '!'" />

    <div>
        <form th:action="@{/login}" method="post">>
            <label>Username:</label>
            <input type="text" name="username"/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <button type="submit" name="submitLogin">Login</button>
        </form>
    </div>

    <div id="app"></div>
    <script src="/resources/built/bundle.js"></script>
</body>
</html>
